@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 py-4 my-2 fw-bolder">Benvenuto su Scarpe&Co!</h1>
    <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/eu_campus_adicolor_originals_ss25_launch_plp_iwp_background_d_b8da793f37.jpg" alt="Descrizione dell'immagine" class="img-fluid" />
    <p class="py-4 fs-5 fst-italic fw-bolder">Ecco la nostra selezione di articoli scelti per te</p>

    <a href="@Url.Action("Index", "Articoli")" class="btn btn-secondary fw-semibold">Vai alla Vetrina</a>
</div>
